.search-toggle {
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		width: 25px;
		height: auto;
	}

	path {
		fill: var(--gray);
	}

	&:hover,
	&:focus {
		path {
			fill: var(--green);
		}
	}
}
