.cards {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: var(--spacing);
	margin-right: calc(var(--spacing-div2) * -1);
	margin-left: calc(var(--spacing-div2) * -1);

	.blog &,
	.archive & {
		margin-top: var(--spacing);
	}

	@media (--l) {
		margin-bottom: var(--spacing-x2);

		.blog &,
		.archive & {
			margin-top: var(--spacing-x3);
		}
	}

	.card {
		width: 100%;
		margin-bottom: var(--spacing);

		@media (--s) {
			width: calc(50% - var(--spacing));
			margin-left: var(--spacing-div2);
			margin-right: var(--spacing-div2);
		}

		@media (--l) {
			width: calc((100% / 3) - var(--spacing));
		}
	}
}
