{
	"env": {
		"browser": true,
		"es2020": true,
		"jquery": true
	},
	"extends": [
		"plugin:prettier/recommended"
	],
	"parserOptions": {
		"ecmaVersion": 11
	},
	"rules": {
		"prettier/prettier": "error"
	}
}
