{
  "env": {
    "browser": true,
    "es2020": true,
    "jquery": true
  },
  "extends": [
    "plugin:prettier/recommended"
  ],
  // "parserOptions": {
  //   "sourceType": "module"
  // },
  "rules": {
    "prettier/prettier": "error"
  }
}