.comment-form__form {
  max-height: 9999px;
  overflow-y: hidden;
  transition: max-height .3s;
}

.comment-form__form--hide {
  max-height: 0;
}

.comment-form__toggle {
  &::before {
    content: "▸";
    padding-right: 5px;
    transition: transform .3s;
    display: inline-block;
  }
}

.comment-form__toggle--expanded {
  &::before {
    transform: rotate(90deg);
  }
}

.comment-form__input,
.comment-form__textarea {
  display: block;
  margin-bottom: var(--spacing);
}

.comment-form__label--required {
  &::after {
    content: " *";
    color: var(--red);
  }
}
