/* See blocks.css for more specific block styling */
.the-content {
	> * {
		margin: 0 var(--spacing) var(--spacing);

		@media (--m) {
			max-width: var(--m);
			margin: 0 auto calc(var(--spacing) * 3);
		}

		&:first-child:not(.has-background):not(.is-style-no-spacing) {
			padding-top: var(--spacing);

			@media (--m) {
				padding-top: calc(var(--spacing) * 3);
			}
		}
	}

	.gform_wrapper {
		@media (--m) {
			max-width: var(--m);
			margin: 0 auto var(--spacing);
		}

		.gform_footer input.button {
			@extend .btn; /* stylelint-disable-line */
		}
	}


	.alignfull {
		clear: both;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.alignwide {
		clear: both;
		max-width: 100%;
		margin-left: var(--spacing);
		margin-right: var(--spacing);

		@media (--xxl) {
			max-width: var(--xxl);
			margin-left: auto;
			margin-right: auto;
		}
	}

}
