/* See blocks.css for more specific block styling */
.the-content {
	> * {
		margin: var(--spacing) var(--spacing);

		@media (--m) {
			max-width: var(--m);
			margin-left: auto;
			margin-right: auto;

			/* double the spacing between elements that aren't plain tags (ex: p, ul, ol) */
			&[class*='wp-block-'] {
				margin-top: var(--spacing-x2);
				margin-bottom: var(--spacing-x2);
			}
		}
	}

	/* Undo GF's css */
	.gform_wrapper {
		margin-bottom: var(--spacing);
		margin-top: var(--spacing);

		@media (--m) {
			max-width: var(--m);
			margin-top: var(--spacing-x2);
			margin-bottom: var(--spacing-x2);
		}

		.gform_footer input.button {
			@extend .btn; /* stylelint-disable-line */
		}
	}

	.alignfull {
		clear: both;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.alignwide {
		clear: both;
		max-width: 100%;
		margin-left: var(--spacing);
		margin-right: var(--spacing);

		@media (--xxl) {
			max-width: var(--xxl);
			margin-left: auto;
			margin-right: auto;
		}
	}
}
