.cards {
	display: grid;
	grid-template: auto / 1fr;
	margin-bottom: var(--spacing);
	grid-gap: var(--spacing-div2);

	@media (--l) {
		grid-template: auto / repeat(var(--cards-columns), minmax(0, 1fr));
		grid-gap: var(--spacing);
		margin-bottom: var(--spacing-x2);
	}
}
