form {
  ul,
  ol {
    padding: 0;
  }
}

button,
input[type="submit"] {
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  background: none;
  cursor: pointer;
}

input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
select,
textarea {
  padding: var(--spacing-div2);
  width: calc(100% - var(--spacing));
  max-width: 500px;
  border: 1px solid var(--gray-light);
}

label {
  margin-bottom: calc(var(--spacing) / 2);
  display: inline-block;

  &[for] {
    cursor: pointer;
  }
}

.gfield {
  margin-bottom: var(--spacing);
  /* Reset Gravity's style */
  margin-top: 0;
}

.gfield_label {
  /* Style all labels */
}
