.modal-overlay {
	background: rgba(0, 0, 0, 0.6);
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 50;
}

.modal {
	background: var(--white);
	bottom: 0;
	box-shadow: 0 10px 20px 0 rgba(3, 27, 78, 0.20);
	border-radius: 5px 8px 8px 8px;
	height: calc(100vh - 2em);
	position: fixed;
	left: 1em;
	right: 1em;
	top: 1em;
	z-index: 100;

	.admin-bar & {
		height: calc(100vh - (2em - 46px));
		top: calc(1em + 46px);
	}
}

.modal__content {
	height: 100%;
	left: 0;
	overflow: auto;
	position: absolute;
	top: 0;
	width: 100%;
}

.modal__close {
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 1;
}

.modal-overlay[aria-hidden="true"],
.modal[aria-hidden="true"] {
	display: none;
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;

	html & {
		height: 100%;
		overflow: hidden;
	}
}
