/* Makes footer always be at bottom of pages, even on short pages */
html,
body {
	min-height: 100vh;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
}

iframe {
	max-width: 100%;
}
