body {
	font-family: var(--font-primary);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	line-height: var(--line-height);
	font-size: var(--font-size);
}

h1 {
	font-size: var(--h1-mobile);

	@media (--m) {
		font-size: var(--h1);
	}
}

h2 {
	font-size: var(--h2-mobile);

	@media (--m) {
		font-size: var(--h2);
	}
}

h3 {
	font-size: var(--h3-mobile);

	@media (--m) {
		font-size: var(--h3);
	}
}

h4 {
	font-size: var(--h4-mobile);

	@media (--m) {
		font-size: var(--h4);
	}
}

h5 {
	font-size: var(--h5-mobile);

	@media (--m) {
		font-size: var(--h5);
	}
}

h6 {
	font-size: var(--h6-mobile);

	@media (--m) {
		font-size: var(--h6);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--blue);
	margin-bottom: var(--spacing);
	margin-top: 0;
}

ol,
ul {
	margin-bottom: var(--spacing);
	margin-top: 0;
}

p {
	line-height: var(--line-height);
	margin-bottom: var(--spacing);
	margin-top: 0;
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	margin-bottom: var(--spacing);
}

td,
th {
	margin: 0;
	padding: var(--spacing-div2);
	border: 1px solid var(--gray);
}

th {
	text-align: left;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: var(--gray-light);
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
