.aligncenter,
div.aligncenter,
a img.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignright,
a img.alignright {
	float: right;
	margin: 0 0 var(--spacing) var(--spacing);
}

.alignleft,
a img.alignleft {
	float: left;
	margin: 0 var(--spacing) var(--spacing) 0;
}

.wp-caption {
	font-style: italic;
}

.alignwide {
	position: relative;
	margin-bottom: var(--spacing);

	@media (--m) {
		margin-left: -100px;
		margin-right: -100px;
		width: calc(100% + 200px);
		max-width: none;
	}
}

.alignfull {
	margin-left: calc( -100vw / 2 + 100% / 2 );
	margin-right: calc( -100vw / 2 + 100% / 2 );
	max-width: 100vw;

	img {
		width: 100vw;
	}
}

.wp-block-button__link {
	margin-bottom: var(--spacing);
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-bottom: var(--spacing);
}

.gallery-item {
  margin: 0 0 var(--spacing) 0;
  width: 50%;
  text-align: center;

  @media (--s) {
    margin: 0 0 calc(var(--spacing) * 2) 0;
    width: calc(100% / 3);
  }

  & a {
    display: block;
  }

  .gallery-columns-2 & {
    max-width: calc(100% / 2);
  }

  .gallery-columns-3 & {
    max-width: calc(100% / 3);
  }

  .gallery-columns-4 & {
    max-width: calc(100% / 4);
  }

  .gallery-columns-5 & {
    max-width: calc(100% / 5);
  }

  .gallery-columns-6 & {
    max-width: calc(100% / 6);
  }

  .gallery-columns-7 & {
    max-width: calc(100% / 7);
  }

  .gallery-columns-8 & {
    max-width: calc(100% / 8);
  }

  .gallery-columns-9 & {
    max-width: calc(100% / 9);
  }
}

.gallery-caption {
  width: 100%;
  display: block;
}
