.alignnone,
a img.alignnone {
	margin: 0 var(--spacing) var(--spacing) 0;
}

.aligncenter,
div.aligncenter,
a img.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignright,
a img.alignright {
	float: right;
	margin: 0 0 var(--spacing) var(--spacing);
}

.alignleft,
a img.alignleft {
	float: left;
	margin: 0 var(--spacing) var(--spacing) 0;
}

.wp-caption {
	font-style: italic;
}

.alignwide {
	position: relative;
	width: var(--breakpoint-xl);
	margin-left: auto;
	margin-right: auto;
}

.alignfull {
	margin-left: calc( -100vw / 2 + 100% / 2 );
	margin-right: calc( -100vw / 2 + 100% / 2 );
	max-width: 100vw;

	img {
		width: 100vw;
	}
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
