.services {
  padding-top: $base--spacing * 2;
  padding-bottom: $base--spacing * 2;
}

.services__header {
  font-family: $base--font-family;
  font-weight: $font-weight__bold;
}

.services__title {
  @include font-size(32px, false);
  line-height: 1.1; // hack: default line height didn't look good
  color: $green--light;
  font-family: $base--font-family;
  font-style: italic;
}

.services__title--h4 {
  @include font-size(14px);
  color: $green--light;
  font-family: $secondary--font-family__regular;
  text-transform: uppercase;
  margin-bottom: 0;
}

.services__side-column {
  p {
    @include font-size($font-size--small);
  }
}
@include breakpoint(800px) {
  .services__main-column {
    float: left;
    width: $width--8;
    padding-right: $base--spacing * 3;
  }
  .services__side-column {
    float: right;
    width: $width--4;
    text-align: center;
  }
}
