<div class="post-password">
  <p>Please enter password:</p>

  <form class="post-password__form" action="{{action}}" method="post">
    <label for="post-password__id--{{post_id}}" class="post-password__id--{{post_id}} hidden-text">Password:</label>
    <p>
      <input class="post-password__input" name="post_password" id="post-password__id--{{post_id}}" type="password" placeholder="Password" />
    </p>
    <button type="submit" name="Submit" class="btn">Submit</button>
  </form>
</div>
