.the-content {
	/* TODO: I feel like WordPress should be outputting this css. */
	.is-layout-constrained,
	& {
		> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
			max-width: var(--wp--style--global--content-size);
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}

	> * {
		margin-block-start: var(--wp--preset--spacing--40);
		margin-block-end: 0;
	}

	.alignfull {
		clear: both;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.alignleft {
		float: left;
		margin-inline-start: 0;
		/* TODO: variable? */
		margin-inline-end: 2em;
	}

	.alignright {
		float: right;
		/* TODO: variable? */
		margin-inline-start: 2em;
		margin-inline-end: 0;
	}

	.alignwide {
		max-width: var(--wp--style--global--wide-size);
	}
}
