.the-content {
	padding-right: var(--wp--style--root--padding-right);
	padding-left: var(--wp--style--root--padding-left);

	/* TODO: I feel like WordPress should be outputting this css. */
	:where(.has-global-padding) {
		padding-right: 0;
		padding-left: 0;
	}

	.is-layout-constrained,
	& {
		> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
			max-width: var(--wp--style--global--content-size);
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}

	> :where(:not(.is-layout-constrained)) {
		margin-block-start: var(--wp--preset--spacing--40);
		margin-block-end: 0;
	}

	.alignfull {
		clear: both;
		margin-right: calc(var(--wp--style--root--padding-right) * -1);
		margin-left: calc(var(--wp--style--root--padding-left) * -1);
	}

	.alignleft {
		float: left;
		margin-inline-start: 0;
		margin-inline-end: var(--wp--preset--spacing--40);
	}

	.alignright {
		float: right;
		margin-inline-start: var(--wp--preset--spacing--40);
		margin-inline-end: 0;
	}

	.alignwide {
		max-width: var(--wp--style--global--wide-size);
	}
}
