.glide {
  position: relative;
}

.glide__arrow {
  background-color: #818999;
  border-radius: 100%;
  cursor: pointer;
  height: 30px;
  margin-top: -9px;
  padding: 5px;
  position: absolute;
  top: 50%;
  transition: all .2s ease-in-out;
  width: 30px;
  z-index: 1;
}

.glide__arrow--prev {
  left: 1.5em;
}

.glide__arrow--next {
  right: 1.5em;
}

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: var(--spacing);
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%);
}

.glide__bullet {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid transparent;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  height: 10px;
  line-height: 0;
  margin: 0 5px;
  padding: 0;
  transition: all .3s ease-in-out;
  width: 10px;
}

.glide__bullet[class*="active"] {
  background-color: black;
}