.lightbox__overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  padding: 3em 0;
  position: fixed;
  z-index: 10;
  align-items: center;
  justify-content: center;

  .lightbox-active & {
    display: flex;
  }
}

.lightbox__popup {
  max-width: 800px;
  background: var(--white);
  position: relative;
}

.lightbox__close {
  font-size: 0;
  position: absolute;
  top: 5px;
  right: 5px;

  &::after {
    content: "✕";
    font-size: 40px;
    line-height: .7;
  }
}