<section class="lightbox" data-init-js="lightbox" data-options-js='{}'>
  <button class="lightbox__button">Click here!</button>
  <div class="lightbox__overlay">
    <div class="lightbox__popup">
      <button class="lightbox__close">Close</button>
      <h2>Title</h2>
      <img src="https://placehold.it/640x480/" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse imperdiet, dolor sed commodo finibus, libero ante malesuada ligula, sit amet imperdiet ex nulla ac ex. Suspendisse potenti. Fusce a risus sit amet lacus dictum maximus ultrices eu augue. Donec volutpat convallis nulla, non pellentesque metus euismod et. Aenean faucibus dui sit amet est imperdiet, vitae pulvinar velit pretium. Cras ut nulla malesuada, convallis urna in, facilisis ante. Cras nec venenatis ligula. Quisque mollis ac felis in cursus. Nunc ac convallis est. Donec interdum vehicula velit, cursus pellentesque mauris posuere et. Curabitur pulvinar dui et eleifend viverra. Aliquam viverra accumsan nibh, vel mollis magna suscipit ac. Mauris et elit vestibulum, rhoncus augue et, ultricies enim.</p>
    </div>
  </div>
</section>