<article itemscope itemtype="http://schema.org/Article" class="single single--{{post.post_type}} single--id-{{post.ID}}">
  {% if post.thumbnail %}
    <img class="single__image" srcset="{{post.thumbnail|srcset}}" src="{{post.thumbnail.src|resize(1200, 300)}}" alt="post.thumbnail.alt">
  {% endif %}

  <section class="single__section">
    {% include 'page-title/page-title.twig' with {
      'title': post.title,
      'type': post.post_type,
    } %}

    {% include 'post-meta/post-meta.twig' with {
      'post': post,
    } %}

    {% include 'post-content/post-content.twig' with {
      'content': post.content,
      'type': post.post_type,
    } %}
  </section>

  {# {% include 'comments/comments.twig' with {
    'comments': post.comments,
    'comment_status': post.comment_status,
    'comment_fields': options.comments,
  } %} #}

</article>
