.wp-block-acf-card {
	background: #fff;
	border-radius: 30px;
	box-shadow: 0px 10px 30px rgba(206, 206, 206, 0.2);
	height: 100%;
	min-height: 350px;
	overflow: hidden;
	width: 100%;
}

.wp-block-acf-card .acf-innerblocks-container {
	height: 100%;
	width: 100%;
}

.wp-block-acf-card .wp-block-acf-image {
	display: block;
	margin: 0;
}

.wp-block-acf-card .wp-block-acf-heading,
.wp-block-acf-card p,
.wp-block-acf-card .wp-block-acf-buttons {
	padding: 0 1rem;
}
