.menu-footer-secondary {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	li {
		display: inline;

		&::after {
			content: " |";
			padding: 0 5px;
		}

		&:last-child::after {
			display: none;
		}
	}
}
