<a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>

{% include "menu-flyout/menu-flyout.twig" with {
  'aria_label': 'Main Navigation',
  'menu_name': 'header-menu',
  'menu': header_menu.get_items,
  'nav_tag': true
} %}