@import "../scss/style";

.styleguide__page-wrap--hero {
  background: #ccc;
  color: #fff;
}
.styleguide__hero {
  padding-top: 50px;
  padding-bottom: 60px;
  margin-bottom: $base--spacing;
}
.styleguide-wrap {
  max-width: 1200px;
}

.styleguide__section {
  margin-bottom: $base--spacing;
  @extend .cf;
}
.styleguide__heading {
  border-bottom: 1px solid #000;
  color: #000;
  font-family: $secondary--font-family;
}
.styleguide__colors {
  color: #fff;
  font-size: 0;
}
.styleguide__color {
  @include font-size(16px);
  text-align: center;
  display: block;
  height: 200px;
  padding-top: 90px;
}
.styleguide__color--light {
  color: #000;
  outline: 1px solid #000;
}
.styleguide__image {
  // @include grid-span(12, 1);
  // @media max-width(700px) {
  //   // @include grid-span(6, 7);
  // }
}
.styleguide__image-text {
  // @include grid-span(12, 1);
  // @include breakpoint(700px) {
  //   @include grid-span(6, 1);
  // }
}
.styleguide__icon {
  float: left;
  width: 33.33%;
}
//to check vertical rhythm
// body {
//   background-image: linear-gradient(green 1px, transparent 1px);
//   background-size: 100% $base--spacing / $base--font-size * 1em;
// }