<form class="searchform__form" role="search" action="{{ site.url }}">
  <div class="searchform__group">
    <label for="s" class="hidden-text">Search</label>
    <input id="s" class="searchform__input" type="text" placeholder="Search" name="s">
    <button class="searchform__submit" type="submit">
      Search
    </button>
  </div>
</form>
