.wp-block-group {
	max-width: var(--m);
	margin-left: auto;
	margin-right: auto;

	&.has-background {
		padding: var(--spacing);
	}
}

.wp-block-group__inner-container > *:last-child {
	margin-bottom: 0;
}
