.wp-block-group {
	max-width: var(--m);
	margin-left: auto;
	margin-right: auto;
}

.is-style-no-padding {
	padding-top: 0;
	padding-bottom: 0;
}

.is-style-no-bottom-margin {
	article.page > &,
	article.post > & {
		margin-bottom: 0;
	}
}

.has-background + .has-background {
	margin-top: calc(var(--spacing) * -1);

	@media (--m) {
		margin-top: calc(var(--spacing) * -3);
	}
}

.is-style-padding {
	padding: var(--spacing) 0;

	@media (--m) {
		padding: calc(var(--spacing) * 3) 0;
	}
}

.alignfull > .wp-block-group__inner-container > :not(.alignfull):not(.alignwide) {
	margin: 0 var(--spacing) var(--spacing);

	@media (--m) {
		max-width: var(--m);
		margin: 0 auto calc(var(--spacing) * 3);
	}
}
