.is-style-stripes {
	thead {
		border-bottom: 3px solid var(--black);
	}

	tfoot {
		border-top: 3px solid var(--black);
	}
}

.wp-block-table {
	max-width: none;
	overflow: auto;

	table {
		width: var(--m);
	}

	&.alignwide table,
	&.alignfull table {
		width: var(--xxl);
	}
}
