<p class="post-meta">
  By

  <a itemprop="author" class="post-meta__author-link" href="{{post.author.path}}">
    {{ post.author.name }}
  </a>

  <span class="post-meta__date">
    <span>&bull;</span>

    <span itemprop="datePublished">
      {{ post.post_date|date}}
    </span>
  </span>
</p>
