<p class="post-meta">
  By

  <a class="post-meta__author-link" href="{{post.author.path}}">
    {{ post.author.name }}
  </a>

  <span class="post-meta__date">
    <span>&bull;</span> {{ post.post_date|date}}
  </span>
</p>
