.hero {
  /* If you want the image to not get too tall and want it to crop */
  max-height: 800px;
  overflow: hidden;
}
.hero__title {
  background: var(--black);
  color: var(--white);
}

.hero__image {
  max-width: none;
  width: 100%;
}
