.hero {
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.hero__title {
  background: var(--black);
  color: var(--white);
}

.hero__image {
  max-width: none;
  width: 100%;
}
