/* Black */
.has-black-background-color {
	background-color: var(--black);
	color: var(--white);
}

.has-black-color {
	color: var(--black);
}

/* gray */
.has-gray-background-color {
	background-color: var(--gray);
	color: var(--white);
}

.has-gray-color {
	color: var(--gray);
}

/* Light Gray */
.has-gray-light-background-color {
	background-color: var(--gray-light);
}

.has-gray-light-color {
	color: var(--gray-light);
}

/* White */
.has-white-background-color {
	background-color: var(--white);
}

.has-white-color {
	color: var(--white);
}
