.mobile-menu {
  transition: .3s transform;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--mobile-menu-offest);
  height: calc(100vh);
  transform: translate3d(-100%, 0, 0);
  background: rgba(255, 255, 255, .5);
  z-index: 10;
}

.mobile-menu--right {
  transform: translate3d(100vw, 0, 0);
}

.mobile-menu::before {
  content: "";
  opacity: 0;
}

.js-mobile-menu-active .mobile-menu {
  transform: translate3d(0, 0, 0);
}

.js-mobile-menu-active .mobile-menu--fixed {
  left: 0;
}

.js-mobile-menu-active .mobile-menu--right {
  /* FIXME: Is there a better way to do this? */
  left: calc((100vw - var(--mobile-menu-offest)));
}

/* Overlay */

.mobile-menu__overlay {
  display: none;
}

.js-mobile-menu-active .mobile-menu__overlay {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--black);
  z-index: 2;
  overflow: hidden;
  opacity: .3;
}

.js-mobile-menu-active .mobile-menu__overlay--fixed {
  display: none;
}

.js-mobile-menu-active,
.js-mobile-menu-active body {
  overflow: hidden;
}

.mobile-menu-wrapper {
  transition: .3s transform;
  min-height: 100vh;
}

.js-mobile-menu-active .mobile-menu-wrapper {
  transform: translateX(var(--mobile-menu-offest));
  overflow: hidden;
  height: 100%;
}

.js-mobile-menu-active .mobile-menu-wrapper--right {
  transform: translateX(calc(var(--mobile-menu-offest) * -1));
}

.js-mobile-menu-active .mobile-menu-wrapper--fixed {
  transform: translateX(0);
}
