.comment-list {
  padding: 0;
  margin: 0 0 $base--spacing;
  list-style: none;
  .children {
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0 0 $base--spacing/2;
    @include breakpoint($base-spacing-change-breakpoint) {
      margin: 0 0 $base--spacing;
    }
  }
  .comment {
    background: $grey--light;
    color: $secondary--blue-dark;
    @include long-box-shadow($secondary--purple-dark);
    padding: $base--spacing/2 $base--spacing/2 0;
    margin-bottom: $base--spacing/2;
    @include breakpoint($base-spacing-change-breakpoint) {
      padding: $base--spacing $base--spacing 0;
      margin-bottom: $base--spacing;
    }
    @extend .clearfix;
    .comment {
      background: darken($grey--light, 5%);
      margin-bottom: 0;
      .comment {
        background: darken($grey--light, 10%);
        .comment {
          border: 1px solid $secondary--purple-dark;
        }
      }
    }
    .reply {
      margin-bottom: $base--spacing/2;
      @include breakpoint($base-spacing-change-breakpoint) {
        margin-bottom: $base--spacing;
      }
    }
    .wrap--content & h1, .wrap--content & h2, .wrap--content & h3 {
      color: $secondary--blue;
      text-shadow: none;
      a {
        color: $secondary--blue;
        &:hover, &:focus {
          color: lighten($secondary--blue, 10%);
        }
      }
    }
  }
}

.container--blue .comment, .wrap--blue .comment {
  a {
    color: $secondary--blue;
  }
  .reply a {
    color: $white;
  }
}

@include breakpoint(30em) {
  .comment-meta-wrap {
    float: left;
    width: 25%;
  }
  .comment-wrap {
    float: right;
    width: 75%;
  }
}
@include breakpoint(50em) {
  .comment-meta-wrap {
    width: 12%;
  }
  .comment-wrap {
    width: 88%;
  }
}

.comment-meta-wrap {
  @include font-size(14px);
  padding-right: $base--spacing/2;
  @include breakpoint($base-spacing-change-breakpoint) {
    padding-right: $base--spacing;
  }
  a {
    text-decoration: none;
  }
}
.comment-author {
  .avatar {
    display: block;
  }
  cite {
    clear: both;
    font-style: normal;

  }
}

.comment-reply-link {
  display: inline-block;
  background: $secondary--purple-light;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  /* margin-bottom: $base--spacing; */
  transition: background .3s, box-shadow .3s;
  .container--blue &, .wrap--blue &, & {
    color: $grey--light;
  }
  @include long-box-shadow($secondary--purple-dark, 'input');
  &:hover, &:focus {
    background: lighten($secondary--purple-light, 10%);
    color: $white;
  }
}

.comment .comment-respond {
  clear: both;
  margin-top: $base--spacing;
}
.comment-respond {
  button[type=submit], input[type=submit] {
    margin-bottom: 0;
    @extend .btn--purple;
  }
  .comment & {
    button[type=submit], input[type=submit] {
      margin-bottom: $base--spacing;
    }
  }
}
.form-submit {
  margin-bottom: 0;
}

.hb-form-allowed-tags-toggle {
  @include font-size(10px, false);
}

.hb-form-allowed-tags {
  @include font-size(12px);
  .form-allowed-tags {
    max-height: 0;
    height: 0;
    transition: max-height .3s;
    display: block;
    overflow: hidden;
  }
  input:checked + .form-allowed-tags {
    max-height: 999px;
    height: auto;
    padding-top: $base--spacing;
  }
  input {
    display: none;
  }
}
