.menu--social {
	clear: both;
	margin-left: -10px;
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	li {
		display: inline-block;
	}
	svg, img {
		display: inline-block;
	}
	svg path {
		fill: $secondary--purple-light;
		transition: fill .3s;
	}
	a:hover, a:focus {
		svg path {
			fill: lighten($secondary--purple-light, 10%);
		}
	}
	.menu__item a {
		display: block;
		height: 50px;
		width: 50px;
		transition: transform .3s;
		&:hover, &:focus {
			transform: scale(1.2);
			&:after {
				opacity: 1;
			}
		}
		&:after {
			position: absolute;
			opacity: 0;
			transition: opacity .3s;
			bottom: -20px;
			@include font-size(10px);
			left: 0;
			width: 100%;
			text-align: center;
		}
	}
}

.menu__item--twitter a:after {
	content: "Twitter";
}
.menu__item--facebook a:after {
	content: "Facebook";
}
.menu__item--linkedin a:after {
	content: "LinkedIn";
}
.menu__item--github a:after {
	content: "GitHub";
}
.menu__item--rss a:after {
	content: "RSS Feed";
}

@include breakpoint (25em) {
	.addresses {
		float: left;
		width: 100%;
	}
	.addresses__address {
		float: left;
		width: 50%;
		padding-right: 10px;
	}
	.addresses, .fine-print, .menu--secondary {
		@include font-size(16px);
	}
}

@include breakpoint (45em) {
	.addresses__address, .addresses__phone {
		float: left;
		width: 33%;
		padding-right: 10px;
	}
}
