.container--devices {
	padding-bottom: 0;
}
@include breakpoint(50em) {
	.container--devices {
		padding-bottom: 420px;
	}
}

.devices {
	position: relative;
	padding-top: 20px;
	@include breakpoint(30em) {
		width: 75%;
		margin-left: 20%;
	}
	.img--laptop {
		display: block;
	}
	.img--tablet, .img--mobile {
		position: absolute;
		bottom: 0;
	}
	.img--laptop {
		width: 100%;
		margin-left: -25%;
		position: relative;
		z-index: 2;
	}
	.img--tablet {
		width: 35%;
		right: 5%;
		bottom: -1px;
	}
	.img--mobile {
		width: 16%;
		right: -3%;
		z-index: 1;
		bottom: -1px;
	}
}
.container--columns {
	position: relative;
	padding: 0;
}

@include breakpoint(50em) {
	.container--columns {
		display: flex;
	}
	.column--half {
		float: left;
		width: 50%;
		.container {
			padding: $base--spacing;
		}
		.container--devices {
			padding-bottom: 400px;
		}
	}
	.column--half--spaced.first {
		padding-right: $base--spacing;
	}
	.column--half--spaced.last {
		padding-left: $base--spacing;
	}
	.container--devices {
		position: static;
	}
	.devices {
		position: absolute;
		bottom: 0;
		width: 50%;
		left: 0;
		margin-left: 0;
	}
}

.column--half.column--half--spaced.first {
	padding-bottom: $base--spacing;
	@include breakpoint(50em) {
		padding-bottom: 0;
	}
}

@include breakpoint(55em) {
	.column--third {
		float: left;
		width: 33.3%;
		word-wrap: break-word;
	}
	.column--third--spaced.first {
		padding-right: $base--spacing;
	}
	.column--third--spaced.last {
		padding-left: $base--spacing;
	}
}

//generic styles for content blocks
.wrap--content, .container--content {
	line-height: 1.5;
	color: $white;
	h1, h2, h3 {
		text-shadow: 2px 2px 0 $greens--dark;
		a {
			color: $greens--light;
			&:hover, &:focus {
				color: $white;
				text-decoration: underline;
			}
		}
	}
	position: relative;
}

.container--work {
	img {
		transition: box-shadow .3s ease-out;
		filter: saturate(40%);
		@include long-box-shadow(rgba(lighten($greens--dark, 10%), 0.8));
		&:hover, &:focus {
			filter: none;
		}
	}
}
.container--who-we-are {
	// b/c iMac is abs positioned
	position: relative;
}

//wrote a mixin to easialy change the position of the iMac. First param is the width of the page it takes up and the second is the width of the image.
/* @include who-we-are-offset($width--2, 50%); */
.img--desktop {
	display: none;
}
/* @include breakpoint(25em) {
	@include who-we-are-offset($width--3, 75%);
} */

@include breakpoint(35em) {
	.img--desktop {
		display: block;
	}
	@include who-we-are-offset($width--4, 70%);
}

@include breakpoint(40em) {
	@include who-we-are-offset($width--4, 60%);
}

@include breakpoint(45em) {
	@include who-we-are-offset($width--4, 50%);
}
@include breakpoint(50em) {
	@include who-we-are-offset($width--4, 40%);
}
@include breakpoint(55em) {
	@include who-we-are-offset($width--4, 35%);
}
@include breakpoint(60em) {
	@include who-we-are-offset($width--4, 35%);
}
@include breakpoint(70em) {
	@include who-we-are-offset($width--4, 30%);
}

.capsule-crm-form {
	text-align: left;
	max-width: 700px;
}
.font--big {
	@include font-size($font-size--hero, true, false);
	@include responsible-font-family($secondary--font-family, sans-serif);
}
p.alert__thank-you {
	display: none;
	&:target {
		display: block;
	}
}
