.container--page-title {
  padding-bottom: $base--spacing/2;
  padding-top: $base--spacing/2;
  text-align: center;

  .entry-title,
  .page-title {
    @include font-size(32px, false);
    margin-bottom: 0;
  }

  .entry-meta {
    margin-bottom: 0;
    a {
      color: $white;
      text-decoration: none;
    }
  }

  .title-wrap a {
    color: $white;
  }
  .author-gravatar {
    display: none;
  }

  @include breakpoint(50em) {

    .author-gravatar {
      display: block;
    }

    padding-bottom: $base--spacing;
    padding-top: $base--spacing;
    text-align: left;

    .single & {
      margin-bottom: $base--spacing/2; //not sure why, but this just makes the spacing look better at the top of the content on single.php pages.
    }

    .title-wrap {

      .entry-title,
      .page-title {
        @include font-size(42px);
      }

      float: left;
      width: 66%;
    }

    .author-gravatar {
      float: right;
      text-align: right;
    }
  }

}

.wrap--category {
  background: $greens--medium;
}
.wrap--category--developer {
  background: url("dist/img/banner-developer.png");
}

.taxonomy-description p:last-child {
  margin-bottom: 0;
}

.content-area {
  article {
    border-bottom: 1px solid $grey--light;
    margin-bottom: $base--spacing;
    //  padding-bottom: $base--spacing; Assumes the last element has space on the bottom.
    &:last-child {
      border: 0;
      margin-bottom: 0;
    }
  }
}

.author-gravatar img {
  border-radius: 50%;
}

.posted-on a {
  text-decoration: none;
}

.cat-links {
  &:before {
    color: $greens--light;
    content: '//';
    padding: 0 5px;
  }
}
/*
<li>
  <h3><a class="pinboard-link" title="Email aliasing in Google Apps" href="http://james.padolsey.com/general/email-aliasing-in-google-apps/">Email aliasing in Google Apps</a></h3>
  <p class="pinboard-link-note">Interesting technique for Google Apps admins.</p>
  <p class="pinboard-source-wrap"><span class="pinboard-source">Source: </span><a class="pinboard-source-link" title="Email aliasing in Google Apps" href="http://james.padolsey.com/general/email-aliasing-in-google-apps/">james.padolsey.com</a></p>
</li>
 */
.pinboard-link-list {
  clear: both;
  list-style-type: none;
  padding: 0;
  margin: 0;
  .pinboard-link-item, li {
    background: darken($grey--light, 20%);
    margin-bottom: $base--spacing/2;
    @include breakpoint($base-spacing-change-breakpoint) {
      margin-bottom: $base--spacing;
    }
    padding: $base--spacing;
    color: $white;
    a {
      color: $white;
      &:hover, &:focus {
        color: lighten($secondary--purple-light, 20%);
      }
    }
    .pinboard-link {
      font-family: $secondary--font-family__bold;
      @include font-size(24px);
      text-decoration: none;
    }
    &:nth-child(8n+1) {
      a:hover, a:focus {
        color: lighten($secondary--blue-dark, 50%);
      }
      background: lighten($secondary--blue-dark, 10%);
    }
    &:nth-child(8n+2) {
      a:hover, a:focus {
        color: lighten($secondary--blue, 40%);
      }
      background: $secondary--blue;
    }
    &:nth-child(8n+3) {
      a:hover, a:focus {
        color: lighten($secondary--blue, 50%);
      }
      background: lighten($secondary--blue, 10%);
    }
    &:nth-child(8n+4) {
      a:hover, a:focus {
        color: lighten($secondary--blue, 50%);
      }
      background: lighten($secondary--blue, 20%);
    }
    &:nth-child(8n+5) {
      a:hover, a:focus {
        color: lighten($secondary--purple-light, 30%);
      }
      background: lighten($secondary--purple-light, 10%);
    }
    &:nth-child(8n+6) {
      a:hover, a:focus {
        color: lighten($secondary--purple-light, 30%);
      }
      background: lighten($secondary--purple-light, 5%);
    }
    &:nth-child(8n+7) {
      a:hover, a:focus {
        color: lighten($secondary--purple-light, 30%);
      }
      background: $secondary--purple-light;
    }
    &:nth-child(8n+8) {
      a:hover, a:focus {
        color: lighten($secondary--purple-dark, 50%);
      }
      background: $secondary--purple-dark;
    }
  }
  .pinboard-link-header, h3 {
    margin-bottom: 0;
    text-transform: none;
  }
}

.pinboard-link-note {
  display: block;
  margin-bottom: 0;
}
.pinboard-source-wrap {
  margin-bottom: 0;
  @include font-size(12px);
}


.hb-icon-svg {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin-left: $base--spacing/2;
  margin-bottom: $base--spacing/2;
  float: right;
  @include breakpoint(40em) {
    float: right;
    width: 100px;
    height: 100px;
    padding: 25px;
    margin-left: $base--spacing;
    margin-bottom: $base--spacing;
  }
  background: $secondary--blue; //default
  box-shadow: 0 0 20px rgba(#000, .3);
  svg {
    width: 100%;
    height: 100%;
  }
  path {
    fill: $white;
  }
}

.entry-title,
.page-title {
  text-transform: none;
}
.wrap--search {
  .search-field {
    border: 0;
    box-shadow: none;
    margin-bottom: 0;
    width: 90%;
    float: left;
    max-width: none;
    padding: .6em;
  }
  .search-submit {
    float: right;
    width: 10%;
    box-shadow: none;
    margin-bottom: 0;
  }
  .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}
