{# <?php if( have_rows('social_media_links', 'options') ): ?> #}
  <nav class="social__menu">
    <ul class="social-list">
      {% for social in post.get_field('social_media_links', 'options') %}
        <li class="social-list__item">
          <a class="social-link" href="{{social.url}}" target="_blank">
            {# <?php svg(get_sub_field('type')); ?> #}
            {{social.type|svg}}
            <span class="hidden-text">
              {{social.label}}
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{# <?php endif; ?> #}
