{% if (socials) %}
  <nav class="social-list">
    <ul class="social-list__items">
      {% for social in socials %}
        <li class="social-list__item">
          <a class="social-list__link" href="{{social.url}}" target="_blank">
            {{social.type|svg}}

            <span class="hidden-text">
              {{social.label}}
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
