.social-list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.social-list__item {
  display: inline-block;
  padding: 0 8px;
}

.social-link {
  align-items: center;
  display: flex;
  height: 100%;
  transition: all .3s;
  width: 100%;

  svg {
    max-width: 48px;
    height: auto;
  }
}
