{% include 'social-nav/social-nav.twig' with {
  'socials': options.social_links,
} %}

{% include "menu/menu.twig" with {
  'aria_label': 'Footer Menu',
  'menu_name': 'footer-menu',
  'menu': footer_menu.get_items
} %}

<p>
  Copyright {{"now"|date('Y')}}
</p>
