.hero {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero--align-top {
  background-position: top center;
}

.hero--align-center {
  background-position: center;
}

.hero--align-bottom {
  background-position: bottom center;
}

.hero__title {
  background: var(--black);
  color: var(--white);
}

.hero__image {
  max-width: none;
  width: 100%;
}
