.hero {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero__title {
  background: var(--black);
  color: var(--white);
  z-index: 1;
  position: relative;
}

.hero__image {
  max-width: none;
  width: 100%;
}
