.container {
	margin: 0 auto;
	padding: 0 var(--spacing);
	max-width: var(--container-width);
	display: block;

	@media (--m) {
		padding: 0 var(--spacing);
	}
}

.container--s {
	max-width: var(--s);
}

.container--m {
	max-width: var(--m);
}

.container--l {
	max-width: var(--l);
}

.container--xl {
	max-width: var(--xl);
}

.container--xxl {
	max-width: var(--xxl);
}

.section {
	margin-bottom: var(--spacing-x2);

	@media (--s) {
		margin-bottom: calc(var(--spacing) * 6);
	}
}

img,
figure {
	max-width: 100%;
	height: auto;
}
