:root {
	--black: #000;
	--gray: #2D2D2D;
	--gray-light: #EEE;
	--white: #fff;

	--disabled: #bbb;

	--h1: 32px;
	--h2: 28px;
	--h3: 22px;
	--h4: 18px;
	--h5: 16px;
	--h6: 14px;

	@media (--m) {
		--h1: 54px;
		--h2: 45px;
		--h3: 36px;
		--h4: 28px;
		--h5: 21px;
		--h6: 18px;
	}

	--z-skip-to: 100000; /* Above WP toolbar. */
	--z-slider-nav: 10;
	--z-header: 1000;
	--z-popup: 1100;

	--font-primary: "Noto Sans", sans-serif;
	/* --font-secondary: "Aleo", serif; */
	--font-size: 16px;

	--s: 625px;
	--m: 768px;
	--l: 1000px;
	--xl: 1280px;
	--xxl: 1440px;

	--container-width: var(--m);

	--line-height: 1.5;
	--spacing: 20px;
	--spacing-div2: calc(var(--spacing) / 2);
	--spacing-x2: calc(var(--spacing) * 2);
	--spacing-x3: calc(var(--spacing) * 3);
	--spacing-x4: calc(var(--spacing) * 4);
}

/* Usage: `@media (--s) {}` */
@custom-media --s (min-width: 625px);
@custom-media --m (min-width: 768px);
@custom-media --l (min-width: 1000px);
@custom-media --xl (min-width: 1280px);
@custom-media --xxl (min-width: 1440px);
