/* nav element  */
.header-menu {
  background: lightgray;
  border: 2px solid var(--black);

  /* first ul element ul.header-menu__items  */
  > .header-menu__items {
    align-items: center;
    display: flex;
    flex-direction: row;

    /* first li element li.header-menu__item  */
    > .header-menu__item {
      position: relative;
      transition-duration: 0.5s;

      /* second ul element ul.header-menu__items (flyout)  */
      > .header-menu__items {
        background: white;
        border: 2px solid var(--black);
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 100%;
        transition: all 0.5s ease;
        visibility: hidden;
      }

      &:hover,
      &.menu-is-open {
        cursor: pointer;

        /* second ul element ul.header-menu__items (flyout on hover)  */
        > .header-menu__items {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

/* Hide toggle menu on hover */
.header-menu__item--toggle:hover > .header-menu__items {
  opacity: 0 !important;
  visibility: hidden !important;
}

/* Show toggle menu on click */
.header-menu__item--toggle.menu-is-open .header-menu__items {
  opacity: 1 !important;
  visibility: visible !important;
}

.header-link__toggle {
  margin: 0 0 0 5px;
  outline: 0;
  position: relative;
  z-index: 2;

  svg {
    height: 16px;
    width: 16px;
  }
}

.header-menu__link {
  padding: 10px;

  &:active,
  &:hover {
    background: darkgray;
    color: var(--white);
  }
}
