.cards {
	display: grid;
	grid-template: auto / 1fr;
	margin-bottom: var(--spacing);
	grid-gap: var(--spacing-div2);

	.blog &,
	.archive & {
		margin-top: var(--spacing);
	}

	@media (--m) {
		grid-template: auto / 1fr 1fr 1fr;
		grid-gap: var(--spacing);
	}

	@media (--l) {
		margin-bottom: var(--spacing-x2);
	}
}
