.mobile-toggle {
  display: inline-block;
  font-size: 0;
  border: 0;
  border-radius: 0;
  border-top: 2px solid var(--black);
  width: 20px;
  height: 16px;
  margin-top: -10px; /* Half the height */
  transition: .3s border-color;
  position: relative;

  &::before,
  &::after {
    content: "";
    border-bottom: 2px solid var(--black);
    position: absolute;
    left: 0;
    width: 100%;
    transition: .3s border-color;
  }

  &::before {
    top: 6px;
  }

  &::after {
    top: 14px;
  }
}