.wpcf7-form-control span.wpcf7-list-item {
  display: block;
  margin: 0 0 5px 0;
}

.password-box {
  display: block;
  margin-bottom: 2em !important;
}

.wpcf7-form-control.wpcf7-text,
.wpcf7-form-control.wpcf7-number,
.password-box {
  background: #f5f6f7;
  background: var(--light-gray);
  border: none;
  color: #31607a;
  color: var(--blue);
  margin: 20px 0 0;
  padding: 1em 5%;
  width: 90%;
}

.wpcf7-form-control .wpcf7-free-text {
  background: #f5f6f7;
  background: var(--light-gray);
  border: none;
  color: #31607a;
  color: var(--blue);
  display: block;
  margin: 20px 0 0;
  padding: 1em 5%;
  width: 90%;
}

.wpcf7-form-control.wpcf7-textarea {
  background: #f5f6f7;
  background: var(--light-gray);
  border: none;
  color: #31607a;
  color: var(--blue);
  padding: 1em 5%;
  width: 90%;
}

.wpcf7-form-control.wpcf7-submit {
  margin-top: 25px;
}

.wpcf7-form h4 {
  margin-bottom: 0;
}

.required {
  color: #ca5146;
  color: var(--red);
}

.container-form {
  display: flex;
  flex-direction: column;
}

/* Phone */
@media (min-width: 544px) {}
/* Tablet */
@media (min-width: 768px) {
  .container-form {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .wpcf7-form-control.wpcf7-text,
  .wpcf7-form-control.wpcf7-number,
  .wpcf7-form-control .wpcf7-free-text,
  .password-box {
    max-width: 300px;
  }
}
/* Desktop */
@media (min-width: 992px) {}
/* Large Desktop */
@media (min-width: 1200px) {}