body {
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--spacing);
  margin-top: 0;
}
ol,
ul {
  margin-bottom: var(--spacing);
  margin-top: 0;
}
p {
  line-height: var(--line-height);
  margin-bottom: var(--spacing);
  margin-top: 0;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  margin: 0;
  padding: var(--spacing);
}

th {
  font-family: var(--font-secondary);
  text-align: left;
}

tbody tr:nth-child(2n) {
  background: #ddd;
}

tbody tr:last-child {
  border: 0;
}

thead tr {
  border-bottom: 1px solid #ddd;
}

tfoot {
  border-top: 1px solid #ddd;
}

.btn,
.wp-block-button__link {
  background: #ccc;
  padding: var(--spacing);
  /* Reset from Block styles */
  border-radius: 0;
}
