/* TODO: Variables not polyfilling for IE11 */
:root {
  --black: #000;
  --white: #fff;

  --h1: 50px;
  --h2: 42px;
  --h3: 23px;
  --h4: 20px;
  --h5: 18px;
  --h6: 14px;

  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Aleo', serif;

  --breakpoint-s: 500px;
  --breakpoint-m: 1024px;
  --breakpoint-l: 1200px;
  --container-max-width: 1500px;

  --mobile-menu-offest: 100vw;
}
