:root {
  --black: #000;
  --white: #fff;

  --h1: 50px;
  --h2: 40px;
  --h3: 30px;
  --h4: 26px;
  --h5: 21px;
  --h6: 18px;

  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Aleo", serif;

  /* Usage: `@media (--breakpoint-s-min) {}` */
  @custom-media --breakpoint-s-max (max-width: calc(1200500pxpx - 1px));
  @custom-media --breakpoint-s-min (min-width: 500px);
  @custom-media --breakpoint-m-max (max-width: calc(1024px - 1px));
  @custom-media --breakpoint-m-min (min-width: 1024px);
  @custom-media --breakpoint-l-max (max-width: calc(1200px - 1px));
  @custom-media --breakpoint-l-min (min-width: 1200px);

  --container-max-width: 1500px;

  --mobile-menu-offest: 100vw;

  --line-height: 1.3;
  --spacing: 15px;
}
