<!doctype html>
<html class="no-js" {{site.language_attributes}}>
  <head>
    {% include 'html-header/html-header.twig' %}

    {% block html_head_after %}
    {% endblock %}
  </head>

  <body class="{{body_class}}" data-template="base.twig">
    <a class="skip-link hidden-text" href="#content">
      {{ _e( 'Skip to content') }}
    </a>

    {% block header %}
      {% include 'mobile-menu/mobile-menu.twig' %}
      {% include 'mobile-toggle/mobile-toggle.twig' %}
      {% include 'header/header.twig' %}
    {% endblock %}

    <div id="content">
      {% block content %}
        {# If someone happens to get to a page without content block declared, give them the 404. This template also gets called on 404.php #}
        {% include 'page-title/page-title.twig' with {
          'title': options.four_o_four.title,
          'type': 'four_o_four',
        } %}

        {% include 'post-content/post-content.twig' with {
          'content': options.four_o_four.content,
          'type': 'four_o_four',
        } %}

        {% if(options.four_o_four.search) %}
          {% include 'searchform/searchform.twig' %}
        {%  endif %}
      {% endblock %}
    </div>

    {% block footer %}
      {% include 'footer/footer.twig' %}
      {{ function('wp_footer') }}
    {% endblock %}
  </body>
</html>
