<section class="video">

  {% if fields.video_type == 'embed' %}
    <div class="video__embed">
      {{ fields.video_embed }}
    </div>
  {% else %}
    <video class="video__upload" controls>
      <source src="{{ fields.video_upload.url }}" type="{{ fields.video_upload.mime_type }}">
    </video>
  {% endif %}

</section>
