.wp-block-accordion__button {
	cursor: pointer;
}

.wp-block-accordion__subtitle {
	&::before {
		content: "▶";
		font-size: 18px;
		display: inline-block;
		margin-right: var(--spacing);
		transition: transform .3s;

		.wp-block-accordion__item--active & {
			transform: rotate(90deg);
		}
	}
}

.wp-block-accordion__text {
	max-height: 0;
	transition: max-height .3s;
	overflow: hidden;
}

.wp-block-accordion__item--active .wp-block-accordion__text {
	max-height: 999px;
}
