.accordion__item {
  border: 3px solid #007cba;
  border-radius: 3px;
  box-shadow: -5px 5px 0 0 rgba(0, 0, 0, .15);
}

.accordion__heading {
  background: #cce0ff;
  border-bottom: 2px solid #007cba;
  line-height: 1;
  margin: 0;
  padding: var(--spacing);
}

.accordion__textarea {
  background: none;
}

.accordion__panel {
  background: #fff;
  border-top: 2px solid #cce0ff;
  padding: 0 var(--spacing);
}

.form__label {
  margin: 0 0 0 var(--spacing);
}