.consultation {
	color: var(--white);
	padding: 1em;
	text-align: center;

	p {
		margin: 0;
		padding: 0;
	}

	a,
	a:active,
	a:focus,
	a:link {
		color: var(--white);
	}

	a:hover {
		text-decoration: none;
	}
}

.consultation--desktop {
	display: none;
	text-align: right;

	@media (min-width: 1000px) {
		display: block;
	}
}

.consultation--mobile {
	background: var(--gray);
	display: block;

	@media (min-width: 1000px) {
		display: none;
	}
}