<div class="slider">
  <div class="slider__slide">
    <h3>Slide 1</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis odit sequi excepturi enim aspernatur sed porro quaerat quia, nostrum cupiditate. Est, obcaecati? Itaque autem dolor veniam, cum ad magnam nostrum.</p>
  </div>
  <div class="slider__slide">
    <h3>Slide 2</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis odit sequi excepturi enim aspernatur sed porro quaerat quia, nostrum cupiditate. Est, obcaecati? Itaque autem dolor veniam, cum ad magnam nostrum.</p>
  </div>
  <div class="slider__slide">
    <h3>Slide 3</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis odit sequi excepturi enim aspernatur sed porro quaerat quia, nostrum cupiditate. Est, obcaecati? Itaque autem dolor veniam, cum ad magnam nostrum.</p>
  </div>
</div>
