.footer {
  background: #31607a;
  background: var(--blue);
  color: #97acba;
  color: var(--light-blue);
  padding: 2em 0 0;
}

.footer__items {
  display: flex;
  flex-direction: column;
}

.footer__title {
  color: #77cbd0;
  color: var(--teal);
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 5px;
  padding: 0 5%;
  text-transform: uppercase;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0 5%;
}

.quick-links--js {
  display: none;
}

.quick-links--js.active {
  display: block;
}

.quick-links__toggle {
  margin-left: 5px;
  text-decoration: none;
  vertical-align: middle;
}

.locations--js {
  display: none;
}

.locations--js.active {
  display: block;
}

.locations__toggle {
  margin-left: 5px;
  text-decoration: none;
  vertical-align: middle;
}

.footer__list a {
  display: block;
  color: #97acba;
  color: var(--light-blue);
  margin-bottom: 3px;
  text-decoration: none;
}

.footer__list a:active,
.footer__list a:focus,
.footer__list a:hover {
  color: #fff;
  color: var(--white);
}

.footer__list--caps a {
  color: #77cbd0;
  color: var(--teal);
  font-weight: 500;
  margin-bottom: 0;
  padding-bottom: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__list--caps a:active,
.footer__list--caps a:focus,
.footer__list--caps a:hover {
  color: #fff;
  color: var(--white);
}

/* Phone */
@media (min-width: 544px) {}
/* Tablet */
@media (min-width: 768px) {
  .footer {
    padding: 3em 0 0;
  }

  .footer__items {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1024px;
  }

  .footer__list {
    flex-grow: 1;
    padding: 0;
  }

  .footer__title {
    padding: 0;
  }

  .footer__links {
    flex-grow: 2;
  }

  .quick-links__toggle,
  .locations__toggle {
    display: none;
  }

  .quick-links--js,
  .locations--js {
    display: block;
  }
}
/* Desktop */
@media (min-width: 992px) {}
/* Large Desktop */
@media (min-width: 1200px) {}