.container {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}

.container--flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 768px) {
  .container--flex {
    flex-direction: row;
  }
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
  /* IE10+ specific styles go here */  
  .container {
    margin: 0;
  }

  .newsletter .container,
  .copyright .container {
    margin: 0 auto;
  }

  .header .container--flex {
    position: relative;
    width: 100%;
  }
}