.staff-members {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.staff-members__item {
	width: 100%;

	@media (--m) {
		width: 33%;
	}
}

.staff-members__btn {
	display: inline-block;
}
