.header {
	background-color: var(--gray-light);

	.container {
		display: grid;
		grid-template-columns: 40px 1fr 40px;
		grid-template-rows: auto auto auto;
		align-items: center;
		position: relative;
		padding: var(--spacing);

		@media (--m) {
			display: flex;
		}
	}
}

/* NOTE: If you need to offset the scroll-to on anchors #foo, see `[id] {}` in reset.css */
.header--fixed,
.header--sticky {
	width: 100%;
	left: 0;
	top: 0;
	z-index: var(--z-header);

	/* to accommodate the WordPress admin bar */
	.admin-bar & {
		top: 32px;
	}
}

.header--fixed {
	position: fixed;
}

.header--sticky {
	position: sticky;
}

.header__nav-toggle {
	@media (--m) {
		display: none;
	}
}

.header__menu {
	max-height: 0;
	width: 100%;
	overflow: hidden;
	transition: .3s max-height;
	max-width: 500px;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row: 2;

	.js-body-nav-toggle & {
		max-height: 999px;
	}

	@media (--m) {
		max-height: none;
		max-width: none;
		display: flex;
		align-items: center;
		overflow: visible;
	}
}

.header__logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	max-width: 100%;
}

.header__search {
	max-height: 0;
	width: 100%;
	overflow: hidden;
	background-color: var(--white);
	transition: .3s max-height;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row: 3;

	@media (--m) {
		position: absolute;
		top: 100%;
		right: var(--spacing);
		width: auto;
	}

	.js-body-search-toggle & {
		max-height: 999px;
	}
}
