.hero {
	background-color: var(--blue);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--white);
	padding: 0 0 1rem;
	position: relative;

	.container {
		position: relative;
		z-index: 3;
	}
}

.hero__title {
	color: var(--white);
	font-size: 26px;
	line-height: 1.2;
	padding: 2rem 0;
	margin: 0;
	text-shadow: 1px 1px 1px rgba(16, 16, 16, 0.85);

	@media (min-width: 768px) {
		font-size: var(--h3);
		text-align: center;
	}
}

.hero__description {
	font-size: 18px;
	line-height: 1.5;
	margin: 0 0 2rem;

	@media (min-width: 768px) {
		text-align: center;
	}
}

.hero__link {
	display: block;

	@media (min-width: 768px) {
		margin: 0 auto;
		max-width: 360px;
	}
}

.hero__video-bg {
	background: rgba(26, 46, 89, 0.75);
	display: none;
	height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
	z-index: 2;

	@media (min-width: 768px) {
		display: block;
	}
}

.hero__video {
	display: none;
	height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;

	@media (min-width: 768px) {
		display: block;
	}
}