<section class="image-text">
  <img src="{{image.sizes.medium}}" alt="{{image.alt}}" class="image-text__image">

  <div class="image-text__text-block">
    <h3 class="image-text__title">
      {{title}}
    </h3>

    <div class="image-text__body">
      {{body}}
    </div>
  </div>
</section>