<div class="comment {{comment.comment_type}}" id="comment--id-{{comment.ID}}">
  <h5 class="comment__author">
    {{comment.author.name}}
  </h5>

  <div class="comment-content">
    {{comment.comment_content|wpautop}}
  </div>

  <section class="comment__box">
    <!-- child comments -->
    {% if post.comments %}
      <div class="comments">
        {% for comment in comment.children %}
          {% include "comment/comment.twig" with {
            'comment': comment,
          } %}
        {% endfor %}
      </div>
    {% endif %}

    <!-- comment form -->
    {% include "comment-form/comment-form.twig" with {
      'form_fields': comment_fields.comment_form,
      'is_toggle': comment_fields.comment_form.is_toggle,
      'title_button_text': 'Reply to ' ~ comment.author.name,
      'uid': comment.ID,
    } %}
  </section>
</div>
