.pagination {
  text-align: center;
}

.pagination__pages {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination__page {
  display: inline-block;
  padding: 0 var(--spacing) var(--spacing);
}

.pagination__link {
  display: block;
}
