.wp-block-acf-team {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.wp-block-acf-team__member {
	width: 100%;

	@media (--m) {
		width: 33%;
	}
}

.wp-block-acf-team__btn {
	display: inline-block;
}
